#input1{
    border-radius: 10px;
    width: 100%;
    background-color: slategray;
}
#input2{
    border-radius: 10px;
    width: 100%;
    background-color: slategrey;
}
#button1{
    width: 100%;
    border-radius: 10px;
}
#input3{
    width: 100%;
    border-radius: 10px;
}
#selector{
    width: 100%;
    border-radius: 10px;
}
#button2{
    width: 100%;
    border-radius: 10px;
}
#span2{

    padding: 5px;
    background-color: gray;
}
#span1{
    padding: 5px;
    background-color: gray;
}
