{% extends 'todolistapp/base.html' %}
{% load static %}
{% block content %}
    <img id="image" src="{% static 'images/logo.jpg' %}" width="200"
         height="200"/>
{#    activating the logout #}<br>
    <span>
         <a href="{% url 'logout' %}"> Logout  </a>
    </span>
{#    create the form to register taskers#}

<h4>WELCOME TO OUR TODOLIST APP {{ user.username }}</h4>
<br>
<h4 id="welcome"><u><b>ADD TASKER</b></u></h4>
    <form action="{% url 'add_tasker' %}" method="post">
         {% csrf_token %}
    <input id="input1" type="text" name="user_tasker" placeholder="New Tasker">
        <input id="input2" type="email" name="user_email" placeholder="Email">
        <button id="button1" type="submit">Add Tasker</button>
    </form>
    <br>
<h4 id="welcome"><u><b>ADD TASK</b></u></h4>
{# form : the action attribute indicates the file to process this form #}
<form action="{% url 'add_task' %}" method="post">
     {% csrf_token %}
    <input id="input3" type="text" name="task" placeholder="New Task">
{#    this is the taskers dropdown #}
    <select name="tasker">
         <option value="">Select a Tasker</option>
        {% for tasker in taskers %}
            <option value="{{ tasker.id }}">
                {{ tasker.username }}
            </option>
        {% endfor %}
    </select>
    <br>
    <button id="button2" type="submit">Add Task</button>
</form>
{#    create the list #}
<h4>My tasks</h4>
    <ul>
         {% for task in tasks %}
                <li>
                    {{ task.title}}  -  completed {{ task.completed }}
                    <span id="span2">
                        - Assigned to - {{ task.tasker.username }}
                    </span>
                     <span id="span1">
                        - Email to - {{ task.tasker.email }}
                    </span>
                    
                    {% if task.completed %}
                        Completed

                    
                   {% else %}
                   <span id="marks">   <a href="{% url 'mark_complete' task.id %}">
                           Mark as Done</a></span> 
                   {% endif %}
                <a href="{% url 'delete_task' task.id %}">
                    Delete This Task</a>
                </li>
{#             show this on no tasks#}
             {% empty %}
             <li>NO TASKS AVAILABLE</li>
         {% endfor %}
    </ul>


{% endblock %}












